<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fernando Cabrera</title>
    <link rel="icon" href="https://res.cloudinary.com/brothersingaming/image/upload/v1610431717/PFP_USEABLE_l2l5wv.png"
        type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="script.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css"
        integrity="sha512-YQlbvfX5C6Ym6fTUSZ9GZpyB3F92hmQAZTO5YjciedwAaGRI9ccNs4iw2QTCJiSPheUQZomZKHQtuwbHkA9lgw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.theme.min.css"
        integrity="sha512-wCwx+DYp8LDIaTem/rpXubV/C1WiNRsEVqoztV0NZm8tiTvsUeSlA/Uz02VTGSiqfzAHD4RnqVoevMcRZgYEcQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css"
        integrity="sha512-8M8By+q+SldLyFJbybaHoAPD6g07xyOcscIOQEypDzBS+sTde5d6mlK2ANIZPnSyxZUqJfCNuaIvjBUi8/RS0w=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@100;200;300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/45fa054f84.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="fullpage">

        <div id="section0" class="section container-fluid mh-75">
            <nav id="mainNav" class="navbar navbar-light navbar-expand-md px-nav pb-2 pt-1 fixed-top">
                <a href="" class="navbar-brand brand-font">fernando</a>
                <button class="navbar-toggler" data-toggle="collapse" aria-label="Toggle navigation"
                    data-target="#navLinks">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navLinks">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#firstPage" class="nav-link">home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#secondPage" class="nav-link">about</a>
                        </li>
                        <li class="nav-item">
                            <a href="#3rdPage" class="nav-link">skills</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="row h-100">
                <div class="col-10 col-md-7 mt-2 p-intro">
                    <div class="title-intro">
                        ¡HOLA!
                    </div>
                    <div class="text-intro">I'M FERNANDO</div>

                    <div class="my-3 pb-3">
                        <a href="https://www.linkedin.com/in/fernando-cabrera-a6a0901a3/" target="_blank"
                            class="icon"><i class="fab fa-linkedin fa-2x px-2"></i></a>
                        <a href="https://github.com/ferncabrera" target="_blank" class="icon"><i
                                class="fab fa-github fa-2x px-2"></i></a>
                        <a href="mailto:fcabrera@uwaterloo.ca" class="icon"><i class="fas fa-at fa-2x px-2"></i></a>
                        <a href="https://drive.google.com/file/d/1Sttsx6Bv_pwcKCJcRxOFHHUErQu88zGz/view?usp=sharing"
                            target="_blank" class="icon"><i class="fas fa-file fa-2x px-2"></i></a>
                        <a href="https://www.instagram.com/fernandito.tt/?hl=en" target="_blank" class="icon"><i
                                class="fab fa-instagram-square fa-2x px-2"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="section container-fluid mh-75" id="section1">
            <div class="spacing1"></div>
            <div class="nav-spacing"></div>

            <div class="row justify-content-center">

                <div class="col-12 col-sm-10 col-lg-4 col-xl-3 imageContainer mt-2 mb-4">

                    <!-- <img class="img-fluid imageBorder about-image" id="about-image"
                        src="https://res.cloudinary.com/brothersingaming/image/upload/w_1100,h_1100,c_fill,g_auto/v1610426438/image_yypahl.png"
                        alt=""> -->
                    <img class="img-fluid imageBorder about-image" id="about-image"
                        src="https://res.cloudinary.com/brothersingaming/image/upload/w_1100,h_1100,c_fill,g_auto/v1610224068/Prom2k19_ukommr.jpg"
                        alt="">
                </div>
                <div class="col-12 col-sm-10 col-lg-5 my-auto px-about">
                    <h1 class="h3 about-title">Thanks for stopping by!</h1>
                    <div class="spacing0"></div>
                    <p class="about-text">I'm a second year engineering student at the <a id="uw-link"
                            href="https://uwaterloo.ca/">University of Waterloo</a> and I am actively searching for
                        internship opportunities
                        this summer! When I am not busy studying or programming, you can probably find me working out at
                        my home gym or just hanging by myself - all in the name of self-isolation of course!</p>
                    <div class="spacing0"></div>
                    <a href="https://drive.google.com/file/d/1Sttsx6Bv_pwcKCJcRxOFHHUErQu88zGz/view?usp=sharing"
                        style="font-size:small; font-weight: 400;" class="btn btn-outline py-2 px-5">MY
                        RESUME</a>
                </div>
            </div>
            <div class="spacing1"></div>
            <div class="row align-items-center">
                <div class="col-sm-10 col-md-10 col-lg-9 col-xl-8 mx-auto px-glide">
                    <div class="glide mx-auto">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <li class="glide__slide"><img
                                        src="https://res.cloudinary.com/brothersingaming/image/upload/v1610263810/gamepad_uctm7t.png"
                                        alt="">
                                    <div class="spacing0"></div>
                                    <h6 class="h6 slide-title-font">GAMING BLOG</h6>
                                    <p class="glide-text">A blogging website made from scratch (with over 500 weekly
                                        users!) developed
                                        so that anyone can share, comment on and like articles.
                                    </p>
                                </li>

                                <li class="glide__slide">
                                    <img src="https://res.cloudinary.com/brothersingaming/image/upload/v1610266540/atom_bskwee.png"
                                        alt="">
                                    <div class="spacing0"></div>
                                    <h6 class="h6 slide-title-font">SMALL CHATTER</h6>
                                    <p class="glide-text">Fully functional react app that takes advantage of the 
                                        Firebase real-time database. Optimized for small tabs for non-intrusive live chat!
                                    </p>
                                </li>
                                
                                                                <li class="glide__slide ">
                                                                    <img src="https://res.cloudinary.com/brothersingaming/image/upload/v1610263974/processor_mpkhkp.png"
                                                                        alt="">
                                                                    <div class="spacing0"></div>
                                                                    <h6 class="h6 slide-title-font">TEMPERATURE SENSOR</h6>
                                                                    <p class="glide-text">Using python, a breadboard kit, an UNO R3, and an RTD Sensor,
                                                                        I was able
                                                                        to successfully create a temperature monitoring system!
                                                                    </p>
                                                                </li>

                                <li class="glide__slide">
                                    <img src="https://res.cloudinary.com/brothersingaming/image/upload/v1610266540/atom_bskwee.png"
                                        alt="">
                                    <div class="spacing0"></div>
                                    <h6 class="h6 slide-title-font">LINK2EDIT</h6>
                                    <p class="glide-text">React app currently in development that takes advantage of
                                        Cloudinaries amazing image transformation capabilities!
                                    </p>
                                </li>

                                <li class="glide__slide">
                                    <img src="https://res.cloudinary.com/brothersingaming/image/upload/v1610263735/www_nbvctm.png"
                                        alt="">
                                    <div class="spacing0"></div>
                                    <h6 class="h6 slide-title-font">PERSONAL WEBSITE</h6>
                                    <p class="glide-text">Personalized website made to showcase my skills and enhance
                                        online footprint, absolutley no templates were used!
                                    </p>
                                </li>



                                <li class="glide__slide">
                                    <img src="https://res.cloudinary.com/brothersingaming/image/upload/v1610263909/fire_zxh7ax.png"
                                        alt="">
                                    <div class="spacing0"></div>
                                    <h6 class="h6 slide-title-font">YELPCAMP</h6>
                                    <p class="glide-text">My first code-along project completed after finishing Colt
                                        Steele's 64 hours Web Developers Bootcamp,
                                        I put my own little twist on it though...
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="spacing1"></div>
                        <div class="glide__bullets" data-glide-el="controls[nav]">
                            <button class="glide__bullet" data-glide-dir="=0"></button>
                            <button class="glide__bullet" data-glide-dir="=1"></button>
                            <button class="glide__bullet" data-glide-dir="=2"></button>
                            <button class="glide__bullet" data-glide-dir="=3"></button>
                            <button class="glide__bullet" data-glide-dir="=4"></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="section container-fluid mh-75" id="section2">
            <div class="row justify-content-center">
                <div class="h1 mb-5 text-center technical-title">
                    Technical Skills
                </div>
                <div class="col-sm-10 col-lg-5 col-xl-5">
                    <div class="bg-skills border-skills text-center w-100 p-skills mb-skills">
                        <div class="">
                            <p>
                                <span class="bold">Languages:</span> Javascript, Java, Python, HTML/CSS, LaTex, Dart
                            </p>
                        </div>
                        <div class="">
                            <p>
                                <span class="bold">Technologies:</span> Node.js, Express.js, React, Redux, MongoDB,
                                Vue.js, MySQL, Django, Git
                            </p>
                        </div>
                        <div class="skill-box">
                            <h1 class="skills-title">Software</h1>
                        </div>
                        <div class="">
                            <p>
                                <span class=>Hardware:</span> Breadboard, DC/AC sources, Piezoelectricity
                            </p>
                        </div>
                        <div class="">
                            <p>
                                <span class="bold">Experience:</span> Diffusiv, Scope Photonics
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-10 col-lg-5 col-xl-5">
                    <div class=" bg-skills border-skills w-100 text-center p-skills mb-skills">
                        <div class="">
                            <p>
                                <span class="bold">Laboratory:</span> Glove box, Sonicator, Centrifuge, Vacuum oven
                            </p>
                        </div>
                        <div class="">
                            <p>
                                <span class="bold">Characterization:</span> SEM, DSC, FTIR
                            </p>
                        </div>
                        <div class="skill-box">
                            <h1 class="skills-title">Laboratory</h1>
                        </div>
                        <div class="">
                            <p>
                                <span class="bold">Design:</span> AutoCAD, SolidWorks, OnShape
                            </p>
                        </div>
                        <div class="">
                            <p>
                                <span class="bold">Other:</span> Spanish-fluent, English-fluent, fully licensed driver,
                                Office Suite (365)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <h1 class="text-center mt-3 technical-title">Thank You!</h1>
                <div class="text-center end-text">
                    <p>
                        <span>I appreciate you</span> for visiting my Website! Below are some links you may be
                        interested in.
                    </p>
                </div>
                <div class="col-10 text-center">
                    <a href="mailto:fcabrera@uwaterloo.ca" style="font-size:small; font-weight: 400;"
                        class="btn btn-lg btn-outline-bottom mx-3 py-2 px-5 my-3">Contact Me</a>

                    <a href="http://www.brothersingaming2.com/" style="font-size:small; font-weight: 400;"
                        class="btn btn-lg btn-outline-bottom mx-3 py-2 px-5 my-3">Brothers in Gaming 2</a>

                    <a href="#firstPage" style="font-size:small; font-weight: 400;"
                        class="btn btn-lg btn-outline-bottom mx-3 py-2 px-5 my-3">Back to Top</a>
                </div>
                <div class="col-12">
                    <div class="text-center end-text pt-3">
                        If you enjoyed visting this page and would like to learn more about me and connect with me on
                        other
                        platforms, <br> below are once
                        again some links. Adios!
                    </div>
                </div>
                <div class="my-5 text-center pb-3">
                    <a href="https://www.linkedin.com/in/fernando-cabrera-a6a0901a3/" target="_blank" class="icon"><i
                            class="fab fa-linkedin fa-2x px-2"></i></a>
                    <a href="https://github.com/ferncabrera" target="_blank" class="icon"><i
                            class="fab fa-github fa-2x px-2"></i></a>
                    <a href="mailto:fcabrera@uwaterloo.ca" class="icon"><i class="fas fa-at fa-2x px-2"></i></a>
                    <a href="https://drive.google.com/file/d/1Sttsx6Bv_pwcKCJcRxOFHHUErQu88zGz/view?usp=sharing"
                        target="_blank" class="icon"><i class="fas fa-file fa-2x px-2"></i></a>
                    <a href="https://www.instagram.com/fernandito.tt/?hl=en" target="_blank" class="icon"><i
                            class="fab fa-instagram-square fa-2x px-2"></i></a>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.js"
        integrity="sha512-Gx/C4x1qubng2MWpJIxTPuWch9O88dhFFfpIl3WlqH0jPHtCiNdYsmJBFX0q5gIzFHmwkPzzYTlZC/Q7zgbwCw=="
        crossorigin="anonymous"></script>
    <script src="script.js"></script>

</body>

</html>